body {
 background-color: #404040; 
}

.clock, .alarm {
 text-align: center;
 min-width: 250px;
}
.clock {
 margin-top: 10rem;
 color: #4070FF;
 font-size: 25rem; 
}

.alarm {
 margin-top: 5rem;
}

.alarm dropdown {
 display: inline-block;
}

.clock > div { 
 display: inline-block;
}

.alarm { 
 color: #FF495F;
}

